.details {
   color:  #A19FED;

    &__headings {
        padding: 0 40px;
        color: #FFB958;
        text-align: center;
        font-weight: 700;
    }

    &__list {
        list-style: none;
        padding: 0 40px;
        font-weight: 500;
    }

    &__description {
        font-size: 20px;
    }

    &__item {
        padding: 5px;
    }

    &__name {
       letter-spacing: 2px;
        margin-bottom: 5px;
        font-size: 25px;
    }

    &__county {
       letter-spacing: 2px;
       margin: 0;
       font-size: 22px;
    }

    &__description {
        font-weight: 500;
        font-size: 18px;
    }

    &__container {
        display: flex;
        justify-content: space-evenly;
        @media (max-width: 425px) {
            flex-direction: column;
            align-items: center;
            padding: 0 10px;
        }
    }

    &__select {
        text-align: center;
        color:  #A19FED;
    }
}